@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #111;
    color: #FFF;
}

.top {
    margin: 2rem 0;
}

button {
    margin: 1rem;
    padding: 0.75rem 2.3rem;
    background-color: teal;
    color: #FFF;
}

.code {
    text-align: left !important;
    width: 40%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(209, 53, 185, 0.5);
}

.code code {
    background-color: rgba(0,0,0,0.5);
    display: block;
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 1rem;
}